.logoContainer {
	margin:5vh;
	width: 50vw;
}

.logo {
	width: 50vw;
}

.headerContainer {
	padding-left: auto;
	padding-right:auto;
	width:100vw;
}

.navbar {
	height: 3vh;
	background-color: black;
	margin-bottom:5vw;
}

.wide {
	width:70vw;
}

.narrow {
	width:50vw;
}

.centered {
	margin-left:auto;
	margin-right:auto;
}

form button {
	width:10vw;
}

.wideSearchField {
	width: 59vw;
	border:1px solid #a9a9a9;
}

.narrowSearchField {
	width: 38vw;
}

.listBox {
	margin-bottom:-1px;
	border:1px solid #a9a9a9;
	padding: 0px;
	width: 59vw;
}

.listBox p, h1, h2, h3, h4 {
	margin-right:10px;
	margin-left:10px;
}

.listBoxLink {
	text-decoration: none;
	color: black;
}

.searchByButton {
	text-decoration: none;
	padding:5px;
	color: black;
	background: orange;
	border-radius: 5px;
	margin-bottom: 3vh;
}

.buttonLink {
	text-decoration: none;
}

.centerText {
	text-align: center;
}

.itemBox {
	width: 84%;
	border:1px solid grey;
	border-radius: 5px;
	padding: 2vw;
	display: inline-block;
	vertical-align: middle;
}

.itemRow {
	vertical-align: middle;
	margin-bottom: 3vw;
	text-align: center;
}

.itemBox img {
	height: 25vw;
}
.itemBox p {
	vertical-align: top;
}

.checkbox {
	display: inline;
}